<!-- Add you custom twig html here -->
<div class="Caja">
<form action="/caja">
	<label>A単o</label>
	<select name="anio" class="select-year">
		<option selected="selected" value="_none" >-A単o-</option>
		{% for year in data.years %}
		  <option value="{{ year }}">{{ year }}</option>
		{% endfor %}
	</select>
	<label>Mes</label>
	<select name="mes" class="select-year">
		<option selected="selected" value="_none" >-Mes-</option>
		{% for month in data.months %}
		  <option value="{{ month['value'] }}">{{ month['title'] }}</option>
		{% endfor %}
	</select>
	<input type="submit" value="A単adir Filtro" class="btn ">
</form>
<p>A単o de consulta {{ data.anio}} mes {{ data.mes}}</p>

	<div class="mytabla">
		<table>
			<thead>
				<tr>
				<th>prueba</th>
				</tr>
			</thead>
			<tbody><tr><td>prueba</td></tr></tbody>
			<tfoot></tfoot>
		</table>

	</div>

</div>